body{
    background-color:rgb(233, 231, 231);
}
.content {
  max-width: 600px;
  margin: auto;
}
h2,h3,h4,p{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}

#hh1{
    color: indigo;
    font-family: 'Handjet', cursive;
    letter-spacing: 5px;

}
h2{
    vertical-align: middle;
    display: inline;
    }

#me{
    display: block;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 20px;
    margin-bottom: -35px;

}


.padding2{
    padding-bottom: 55px;
   }
    
            
h1{
    text-decoration: overline;
    text-align: center;
    font-family: 'Handjet', cursive;
    color: indigo;
    padding-bottom: 25px;
   
}
#assign{
    font-style: italic;
    font-weight: 520;
    color: orangered;
    font-size: 30px;
    letter-spacing: 4px;
    padding-left: 20px;
}

#mail{
    letter-spacing: 2px;
    padding-left: 5px;
    font-size: 20px;
}
a{
    color: orangered;
    font-family: 'Courier New', Courier, monospace;
}

.b1{
    border: 2px solid orangered;
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 6px 2px 3px orangered;
}

p{
    color: orangered;
    font-size: 18px;
    font-weight: 700px;
    }

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

#assignment{
    text-align: center;
    border-left: 6px dotted indigo;
  background-color: rgb(244, 208, 208);
  font-family: 'Handjet', cursive;
  font-size: 22px;
  letter-spacing: 6px;
  color: indigo;
}

.dropdownn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#xx {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;

}

.dropdown-content a:hover {background-color: #f1f1f1}


.b1:hover .dropdown-content {
  display: inline-block;
}

.b1:hover .dropdown {
 background-color:rgb(244, 208, 208)
}



 ul{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    list-style-type: none;
    margin-left: -40px;
    letter-spacing: 3.5px;
    word-spacing: 5px;
  }