#wrapper{
    max-width: 1400px;
    max-height: 1000px;
    
    
}

header{
    border: 5rem;
    background: linear-gradient(90deg,rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 43%), url(thewestwing.jpg) no-repeat top right;
    margin: auto;
    color: white;
}

.lead{
    width: 380px;
    text-align: left;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 28px;
    font-family: 'Manrope', sans-serif;
}

#logo{
    padding-left: 45px;
    padding-top: 38px;
}



h1{
    padding-top: 60px;
    padding-left: 55px;
}

#border{
    border: 1px solid whitesmoke;
    color: black;
    border-width: 3px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 80px;
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 29px;
    padding-right: 29px;
    
}

nav{
    border: 5px solid gray;
    background-color: gray;
    padding: 17px;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px;
    text-size-adjust: 18px;
    font-family: 'Manrope', sans-serif;
}

a:hover {
    color: whitesmoke;
}

.col{
    font-family: 'Manrope', sans-serif;
    width: 530px;
    padding-left: 50px;
}

h2{
    padding-left: 50px;
    font-family: 'Cinzel', serif;
    padding-top: 30px;
    font-size: 35px;
}


.group1{
    float: left;
    
}

.group2{
    float: right;
}

footer{
    padding-top: 70px;
    padding-left: 50px;
    padding-bottom: 40px;
    clear: both;
  
    font-family: 'Manrope', sans-serif;

}

p {
    width: 80%;
}

.epi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start (left) */
    max-width: 1400px;
    margin: 0 auto; 
    margin-left: 46px;
}

.card {
    flex: 1; /* Allow each card to grow equally */
    margin: 10px;
    padding: 10px; 
    
}


#s1{
    margin-left: 60px;
}

.epi img{
    object-fit: cover;
    border-radius: 10px;
}


